body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white; 
}

.app {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;  
}

.caption {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 2em;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 1fr auto;  
  background: #222;
}

.instructions {
  grid-column: 1;
}

.link {
  grid-column: 2;
}

.link a {
  color: silver;
}

.animation-canvas {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 2em;
}
